@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif&family=Abril+Fatface&family=Montserrat:wght@500;900&family=Poppins:wght@500;900&display=swap');
@font-face {
   font-family: "Couture"; 
  src: url(https://dl.dropbox.com/s/uooxtl95ioyu2f9/couture-bld.otf);
 format("truetype"); }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-weight: 400;
}

 
#aqui {
  width: 720px;
  height: auto;
    
}
#aqui b {
  color: var(--accent);
}

#aqui .base {
    width: 100%;
    border: var(--border);
    box-sizing: border-box;
    background: var(--background);
    padding: 30px;

}
#aqui .basing {
  width: 100%;
   background: var(--secondbg);
   box-sizing: border-box;
  padding: 15px;

}
#aqui .title {
  font: 900 30px Poppins;
  color: var(--color);
    text-align: center;
  text-transform: uppercase;
  text-decoration: ;
  padding: 15px;
  position: relative;
  top: 0px;
  
}
#aqui .head {
  width: 100%;
  height: 130px;
  padding: 10px;
  box-sizing: border-box;
}
#aqui .bordaone { width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  border: var(--border);
  
}
#aqui .title:after{
content:'';
  display: block;
  margin: 10px auto;
  width: 70%;
  height: 1px;
  background: var(--accent);
  
}
#aqui .title:before{
content:'';
  display: block;
  margin: 10px auto;
  width: 70%;
  height: 1px;
  background: var(--accent)
  
}
#aqui .subinfo {
  
}
#aqui .post  

{ 
 background: var(--background); 

  font: 500 12px/235% Montserrat;

  text-align: justify;

  letter-spacing: .5px;

  padding: 20px;

  box-sizing: border-box;

  color: var(--text);

}

#aqui a2 {
   font: 22px Poppins;
   font-weight: bold;
  text-transform: uppercase;
  color: var(--cor);
  display: block;
  padding: 5px;
  margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
  box-sizing: border-box;
}

#aqui a2:after {
   content:'';
  display: block;
  margin: 5px auto;
  width: 100%;
  height: 5px;
  background: var(--accent);
   
}


#aqui .boxpost {
    background: var(--background); 
    width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

#aqui .borda1 {
  width: 150px;
    height: 150px;
  border: var(--border);
  padding: 10px;
}

#aqui .borda2 {
  width: 382px;
    height: 150px;
  border: var(--border);
  padding: 10px;
  overflow: auto;
}
#aqui .foto {
  width: 150px;
  height: 150px;
  background: center/cover;
}

#aqui:after {
  display: block;
  content: "starlight";
  padding: 5px 10px; 
  font: 10px Consolas;
  text-transform: uppercase;
  opacity: .4;
  font-weight: bold; 
  color: #8c8c8c; }
