@font-face {
   font-family: "BagindaScript"; 
  src: url(https://dl.dropbox.com/scl/fi/1jufbp9201vzukfaxwlo2/BagindaScript.otf?rlkey=z15wiyes7hfmtyd2kotbsddq7&st=00xucqfq&dl=0);
  format("truetype"); 
} 
@font-face {
   font-family: "Southland"; 
  src: url(https://dl.dropbox.com/scl/fi/1j9fwrsinph4oj9bcxplo/Southland-TTF.ttf?rlkey=olvmxdytemc9bmg27ocajaoui&st=bnv660ol&dl=0);
  format("truetype"); 
} 
@font-face {
   font-family: "Adelia"; 
  src: url(https://dl.dropbox.com/scl/fi/p45dtup0d1e3b51q7525b/adelia.ttf?rlkey=ocbluo2bqa555sx7rn3lhud88&st=pewgcbb1&dl=0);
  format("truetype"); 
} 
@font-face {
   font-family: "Charlotte"; 
  src: url(https://dl.dropbox.com/scl/fi/ce2q6jb8d22iqtu1nmsuq/Charlotte.otf?rlkey=zc35cmclq0clhbpafqqzwial0&st=wm4s9zsx&dl=0);
  format("truetype"); 
} 
@font-face {
   font-family: "Autography"; 
  src: url(https://dl.dropbox.com/scl/fi/23yjf7uwinf47w1ofza19/Autography.otf?rlkey=r4gcxn03w3obq3ish3n61uhdv&st=hxy72bal&dl=0);
  format("truetype"); 
} 
@font-face {
   font-family: "Amalfi Coast"; 
  src: url(https://dl.dropbox.com/scl/fi/aq8zsprto9mu8ejsdixff/Amalfi-Coast.ttf?rlkey=4zs0gqe58nk5d0yalzk907e02&st=onc93zvo&dl=0);
  format("truetype"); 
} 
@font-face {
   font-family: "Abuget"; 
  src: url(https://dl.dropbox.com/scl/fi/v042dw7d4qihqeheevnjh/Abuget.ttf?rlkey=jy3nyfniwdrra6p01syfvpv8a&st=or7ha5jr&dl=0);
  format("truetype"); 
} 