@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Serif&family=Abril+Fatface&family=Montserrat:wght@500;900&display=swap');
@font-face {
   font-family: "Couture"; 
  src: url(https://dl.dropbox.com/s/uooxtl95ioyu2f9/couture-bld.otf);
 format("truetype"); }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
#wildside {
  width: 720px;
  height: auto;
  margin: 25px 0 0;
    
}
#wildside b {
  color: var(--accent);
}
#wildside .base {
  width: 100%;
  padding: 25px;
    background: var(--background);
  border: var(--border);
  box-sizing: border-box; 
  
}
#wildside .heads {
  width: 100%;
  height: 130px;
  padding: 15px;
  background: var(--background);
  box-sizing: border-box;
   display: grid;
   grid-template-columns: repeat(2, 9fr);

 } 
#wildside .foto {
  width: 80px;
  height: 80px;
  background: center/cover;
  margin-top: -3px;
 margin-left: 60px;
}
#wildside .quote {
  width: 450px;
  font: 12px/134% IBM Plex Mono;
  text-align: justify;
 text-transform: lowercase;
  color: var(--color);
  margin-left: -150px;
  box-sizing: border-box;
  padding: 15px; 
  margin-top: -3px;
  
  
}
#wildside .postbase {
     background: var(--background); 
    width: 100%;
  padding: 30px;
  box-sizing: border-box;
  border: var(--border);
  margin-top: 5px;

}
#wildside .post {
  background: var(--background); 
  font: 500 12px/230% Montserrat;
  text-align: justify;
  letter-spacing: .5px;
  padding: 20px;
  box-sizing: border-box;
  color: var(--text);
}

#wildside .notes b {

  font: 500 12px/235%  Montserrat;

  color: var(--color);

  text-transform: uppercase;

  text-align: center;

 background: #0000001c;

  padding: 15px; 
}

#wildside:after {
  display: block;
  content: "starlight";
  padding: 5px 10px; 
  font: 10px Consolas;
  text-transform: uppercase;
  opacity: .4;
  font-weight: bold; 
  color: #8c8c8c; }